<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Refund Sent</title>
  <link rel='stylesheet' href='/newLifterEmailCss.css' type='text/css'>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <%- include('./styles.ejs'); %>
</head>

<body>
  <table class='logo' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr align='center'>
      <td><img class='logo-img' src='cid:welift-logo' height='100px'></td>
    </tr>
  </table>
  <table class='firstSection' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr align='center'>
      <td>
        <h1 class='title'>Someone has used your referral code!</h1>
      </td>
    </tr>
    <tr align='center'>
      <td><span class='subtitle'>You've been refunded your $15 booking fee! You should see this in your bank account
          shortly.</span></td>
    </tr>
  </table>
  <table class='fourthSection' width='100%' border='0' cellspacing='0' cellpadding='8px'>
    <tr align='center'>
      <td>
        <p>If you have any questions please call us at <br />
          <span class='link'>385-309-3256</span>
        </p>
      </td>
    </tr>
  </table>
</body>

</html>