<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Welift Lifter Acceptance</title>
    <link rel='stylesheet' href='/newLifterEmailCss.css' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <%- include('./styles.ejs'); %>
</head>

<body>
    <table class='logo' width='100%' border='0' cellspacing='0' cellpadding='16px'>
        <tr align='center'>
            <td><img class='logo-img' src='cid:welift-logo' height='100px'></td>
        </tr>
    </table>
    <table class='firstSection' width='100%' border='0' cellspacing='0' cellpadding='16px'>
        <tr align='center'>
            <td>
                <h1 class='title'>We're Sorry!</h1>
            </td>
        </tr>
        <tr align='center'>
            <td><span class='subtitle'>We currently do not service the area you are in.</span></td>
        </tr>
        <tr align='center'>
            <td><span class='subtitle'>Stick around, spread the word, and we'll get to your area soon!</span></td>
        </tr>
    </table>
    <table class='thirdSection' width='100%' border='0' cellspacing='0' cellpadding='16px'>
        <tr align='center'>
            <td>
                <h2 class='orientation'>While you wait</h2>
            </td>
        </tr>
        <tr align='center'>
            <td><span class='orientation-subtitle'><a href="https://www.youtube.com/watch?v=208n3aFev3A">Learn about the
                        job of a lifter.</a></span>
            </td>
        </tr>
        <tr align='center'>
            <td><a href='https://www.youtube.com/watch?v=208n3aFev3A'><img class='video-img' width='700'
                        src='cid:welift-youtube-video'></a></td>
        </tr>
    </table>
    <table class='fourthSection' width='100%' border='0' cellspacing='0' cellpadding='8px'>
        <tr align='center'>
            <td>
                <p>if you would like to view your contract more in detail, please click the link below or <br />message
                    <span class='link'>(218) 460-1377</span>
                </p></a>
            </td>
        </tr>
        <tr align='center'>
            <td><a href='' class='link'>Contract</a></a></td>
        </tr>
    </table>
    <table class='logo' width='100%' border='0' cellspacing='0' cellpadding='16px'>
        <tr align='center'>
            <td><img class='logo-img' src='cid:welift-logo' height='100px'></a></td>
        </tr>
    </table>
</body>

</html>