<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Welift Lifter Acceptance</title>
  <link rel='stylesheet' href='/newLifterEmailCss.css' type='text/css'>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <%- include('./styles.ejs'); %>
</head>

<body>
  <table class='logo' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr align='center'>
      <td><img class='logo-img' src='cid:welift-logo' height='100px'></td>
    </tr>
  </table>
  <table class='firstSection' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr align='center'>
      <td>
        <h1 class='title'>Congrats!</h1>
      </td>
    </tr>
    <tr align='center'>
      <td><span class='subtitle'>You are now a lifter on the Welift Team!</span></td>
    </tr>
    <tr align='center'>
      <td><span class='subtitle'>Please click accept to join the app.</span></td>
    </tr>
    <tr align='center'>
      <td><a class='acceptButton' href=<%=lifterLink %>><b>Accept</b></a></td>
    </tr>
  </table>
  <h1 class='remember'>Remember!</h1>
  <table class='secondSection' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr>
      <td>&bull; Bring the necessary equipment to the job.<br></td>
    </tr>
    <tr>
      <td>&bull; Show up to your lift 5 minutes early<br></td>
    </tr>
    <tr>
      <td>&bull; Introduce yourself as a lifter for Welift<br></td>
    </tr>
    <tr>
      <td>&bull; Be kind and courteous!<br></td>
    </tr>
  </table>
  <table class='thirdSection' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr align='center'>
      <td>
        <h2 class='orientation'>Orientation Video</h2>
      </td>
    </tr>
    <tr align='center'>
      <td><span class='orientation-subtitle'>Please watch this to learn more about your job as a lifter.</span></td>
    </tr>
    <tr align='center'>
      <td><a href='https://www.youtube.com/watch?v=208n3aFev3A'><img class='video-img' width='700'
            src='cid:welift-youtube-video'></a></td>
    </tr>
  </table>
  <table class='fourthSection' width='100%' border='0' cellspacing='0' cellpadding='8px'>
    <tr align='center'>
      <td>
        <p>if you would like to view your contract more in detail, please click the link below or <br />message <span
            class='link'>(218) 460-1377</span></p></a>
      </td>
    </tr>
    <tr align='center'>
      <td><a href='' class='link'>Contract</a></a></td>
    </tr>
  </table>
  <table class='logo' width='100%' border='0' cellspacing='0' cellpadding='16px'>
    <tr align='center'>
      <td><img class='logo-img' src='cid:welift-logo' height='100px'></a></td>
    </tr>
  </table>
</body>

</html>